html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.navigation  {
    background-color: yellow;
    padding: 16px;
    border-radius: 32px;
    margin: 16px auto;
    border: 3px solid blue;
    max-width: 800px;
    min-width: 600px;
    text-align: center;
   

}
.navigation__link {
    color: blue;
    padding: 32px;
  
    
}

.section {
    background-color: rgb(197, 184, 184);
    margin-bottom: 8px;
    padding: 16px;
    max-width: 800px;
    min-width: 600px;
    margin: 16px auto;
    border-radius: 32px;
    border: 3px solid black;

}

.main__title {
    color: blue;
    padding: 16px;
    border: 2px solid red;
    max-width: 800px;
    min-width: 600px;
    margin: 16px auto;
    
}
.footer {
    color:  green;
    padding: 16px;
    max-width: 800px;
    min-width: 600px;
    margin:16px auto;
}
.section__it-article {
    color: red
}
#tenis {
    background-color: yellow;
    color: green;
}

.section__my-learning {
    color:orange;
}
.section__my-git {
    color:blue;
}

