html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #4158D0 27%, #C850C0 53%, #FFCC70 74%);
}
.header{
    position:sticky;
    top:0;

}
.footer {
    color:  green;
    padding: 16px;
    max-width: 768px;
    margin: 0px auto;
}
.footer__top-link {
    position:fixed;
    bottom: 16px;
    right:16px;

}
.hobby__profits{
    display: grid;
    grid-template-columns: 3 fr;
    gap: 24px;

}
.hobby__profits-start{
    grid-column-start: 1;
    grid-column-end: 4;
}

.hobby__profits-end{
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    max-width: 768px;
    margin: 0px auto;
   
}


.main__title-major {
    color: blue;
    padding: 16px;
    padding-left: 12px;
    border: 2px solid red;
    font-size: 1.5rem;

    
}

.navigation  {
    background-color: yellow;
    padding: 16px;
    border-radius: 32px;
    margin: 16px auto;
    border: 3px solid blue;
    max-width: 768px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.navigation__link {
    color: blue;
    padding: 12px;
   
}

.section {
    background-color: rgb(197, 184, 184);
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 32px;
    border: 3px solid black;

}
.section__title {
    color: hotpink;
}
.section__title-special{
    color:blueviolet

}

.section__image {
    max-width: 100%;
    height: auto;
    display: block;
    
}

.section__it-article {
    background-color: aquamarine;
    color: red
    
}

.section__my-learning {
    color:white;
    background-color: blue;
}

.section__my-git {
    color:blue;
    background-color: white;
}
.section__hobby-images{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:12px;
    justify-items: center;
    align-items: center;
    
}

.section__image-hobby{
    max-width: 100%;
    height: auto;
    
}

#tenis {
    background-color: yellow;
    color: green;
}

@media screen and (min-width: 768px)  {

.main__title-major {
    color: blue;
    padding: 16px;
    padding-left: 64px;
    border: 2px solid red;
    font-size: 2rem;
    }
}
