body {
    background-color: #fefefe;
}

footer {
    color:  green ;
}
.it-article {
    color: red
}
#tenis {
    background-color: yellow;
    color: green;
}
.main-title {
    color: black;
}
.my-learning {
    color:orange;
}
.my-git {
    color:blue;
}
.navigation {
    color: yellowgreen;
}