html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #4158D0 27%, #C850C0 53%, #FFCC70 74%);
    
}

.footer {
    color:  green;
    padding: 16px;
    max-width: 768px;
    margin: 0px auto;
    &__top-link {
        position:fixed;
        bottom: 16px;
        right:16px;
    }
}


.header{
    position: sticky;
    top: 43px;
    @media screen and (min-width: 768px){
        position: sticky;
        top: 0;
    }
}

.hamburger {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 35px;
    position:fixed;
    right:4px;
    top: 4px;

    @media screen and (min-width: 768px){
        display: none;
    }

}
.hobby{
    &__profits{
    display: grid;
    grid-template-columns: 3 fr;
    gap: 24px;
    }
    &__profits-start{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    &__profits-end{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

main {
    max-width: 768px;
    margin: 0 auto;

}


.main{
    &__title{
       display:flex; 
       justify-content: center;

    }
    &__title-major::before {
        content:"";
        display:block;
        background-color: #FFFB7D;
        background-image: linear-gradient(70deg, #FFFB7D 35%, #85FFBD 100%);
        height: 10px;
        width: 100%;
        border-radius: 50px;
    }
    &__title-major {
        color: blue;
        font-size: 1.5rem; 
        
    
        @media screen and (min-width: 768px) {
            color: blue;
            font-size: 2.5rem;
        }
    }
}
.navigation  {
    background-color: yellow;
    padding: 8 px;
    border-radius: 32px;
    margin: 8px auto;
    border: 3px solid blue;
    max-width: 768px;
    display:none;
    flex-direction: column;
    align-items: center;

    &--open {
        display: flex;
    }
    &__link {
        color: blue;
        padding: 12px;
    }  
}

.section {
    background-color: rgb(197, 184, 184);
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 32px;
    border: 3px solid black;

    &__hobby-images{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:12px;
        justify-items: center;
        align-items: center;
    }
    &__image-hobby{
        max-width: 100%;
        height: auto; 
    }
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
    &__it-article {
        background-color: blue;
        color: red  
    }   
    &__my-learning {
        color:white;
        background-color: blue;
    }
    &__my-git{
        color:white;
        background-color: blue;
    }
    &__title {
        color:red;
    }
    &__title-special{
        color:blueviolet
    }
}
 
#tenis {
    background-color: yellow;
    color: green;
}

@media screen and (min-width: 768px)  {

.navigation  {
    background-color: yellow;
    padding: 16px;
    border-radius: 32px;
    margin: 16px auto;
    border: 3px solid blue;
    max-width: 768px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.navigation__open {
    display:none;
}
.navigation__link {
    color: blue;
    padding: 12px;
   
}
    .section__my-git{
        color:white;
        background-color: blue;
    }

    .section__title {
        color: hotpink;
    }
    

    .section__it-article{
        color:white;
        background-color: blue;
    }
    
}


    

